<!DOCTYPE html>
<html ng-app="zerovoat" lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>

  <!-- CSS -->
    <link href="assets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="assets/lib/angular-bootstrap-colorpicker/colorpicker.min.css" rel="stylesheet" type="text/css"/>
    <link href="assets/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="assets/lib/angular-text/text-angular.css" rel="stylesheet" type="text/css"/>
    <link href="assets/css/style.css" rel="stylesheet" type="text/css"/>
  <!-- /CSS -->

  <!-- HTML5 Shim -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!--<base href="/">-->

</head>

<body class="ng-cloak" ng-controller="MainCtrl" ng-init="init()">

  <!-- header -->
  <site-header></site-header>
  <!-- /header -->

  <!-- main -->
  <main id="main-content"  ng-controller="UserAdminCtrl" ng-init="init()" class="container" ng-if="page && user">
    <section ng-controller="ChannelsCtrl">
      <!-- channel -->
      <section ng-if="section === 'channel'" ng-init="getChannel()">
        <uib-tabset ng-if="channel_ready" active="active" class="channel-interface-tabs ui-tabs">
          <!-- channel form -->
          <uib-tab index="0" heading="Channel">
            <channel-form></channel-form>
          </uib-tab>
          <!-- /channel form -->
          <!-- moderators -->
          <uib-tab index="1" heading="Moderators">
            <section user-list ng-init="getChannelModerators(channel)">
              <!-- moderator form -->
              <moderator-form></moderator-form>
              <!-- /moderator form -->
            </section>
          </uib-tab>
          <!-- /moderators -->
          <!-- layout -->
          <uib-tab index="2" heading="Layout">
            <channel-layout-interface></channel-layout-interface>
          </uib-tab>
          <!-- /layout -->
          <!-- topics -->
          <uib-tab index="3" heading="Topics">
            <section class="section">
              <topic-list ng-if="moderator"></topic-list>
            </section>
          </uib-tab>
          <!-- /topics -->
        </uib-tabset>
      </section>
      <!-- /channel -->
      <!-- topic -->
      <section ng-controller="TopicsCtrl" ng-if="section === 'topic'" ng-init="getTopic()">
        <topic-form ng-if="topic"></topic-form>      
      </section>
      <!-- /topic -->      
    </section>
  </main>
  <!-- /main -->

  <!-- JS -->

  <!-- zeronet -->
  <script type="text/javascript" src="assets/lib/zeronet/class.js"></script>
  <script type="text/javascript" src="assets/lib/zeronet/zeroframe.js"></script>
  <script type="text/javascript" src="assets/lib/zeronet/zerochat.js"></script>

  <!-- jquery -->
  <script type="text/javascript" src="assets/lib/jquery/jquery.min.js"></script>

  <!-- angular -->
  <script type="text/javascript" src="assets/lib/angular/angular.min.js"></script>
  <script type="text/javascript" src="assets/lib/angular/angular-route.min.js"></script>
  <script type="text/javascript" src="assets/lib/angular/angular-animate.min.js"></script>
  <script type="text/javascript" src="assets/lib/angular/angular-aria.min.js"></script>
  <script type="text/javascript" src="assets/lib/angular-sanitize/angular-sanitize.min.js"></script>  
  <script type="text/javascript" src="assets/lib/angular-bootstrap/angular-bootstrap.min.js"></script>
  <script type="text/javascript" src="assets/lib/angular-multiselect/angular-bootstrap-multiselect.min.js"></script>
  <script type="text/javascript" src="assets/lib/angular-bootstrap-colorpicker/bootstrap-colorpicker-module.js"></script>
  <script type="text/javascript" src="assets/lib/moment/moment.js"></script>
  <script type="text/javascript" src="assets/lib/angular-moment/angular-moment.min.js"></script>

  <!-- videogular -->
  <script type="text/javascript" src="assets/lib/videos/videogular/videogular.js"></script>
  <script type="text/javascript" src="assets/lib/videos/videogular-controls/vg-controls.js"></script>
  <script type="text/javascript" src="assets/lib/videos/videogular-buffering/vg-buffering.js"></script>
  <script type="text/javascript" src="assets/lib/videos/videogular-overlay-play/vg-overlay-play.js"></script>
  <script type="text/javascript" src="assets/lib/videos/videogular-poster/vg-poster.js"></script>

  <!-- text angular -->
  <script type="text/javascript" src="assets/lib/angular-text/text-angular-rangy.min.js"></script>
  <script type="text/javascript" src="assets/lib/angular-text/text-angular-sanitize.min.js"></script>
  <script type="text/javascript" src="assets/lib/angular-text/text-angular-setup.js"></script>
  <script type="text/javascript" src="assets/lib/angular-text/text-angular.min.js"></script>
  <script type="text/javascript" src="assets/lib/angular-text/text-angular.umd.js"></script>

  <!-- app -->
  <script type="text/javascript" src="app/application.js"></script>
  <script type="text/javascript" src="app/controllers/main.ctrl.js"></script>
  <script type="text/javascript" src="app/controllers/channels.ctrl.js"></script>
  <script type="text/javascript" src="app/controllers/topics.ctrl.js"></script>
  <script type="text/javascript" src="app/controllers/user-admin.ctrl.js"></script>
  <script type="text/javascript" src="app/directives/channel-form.directive.js"></script>
  <script type="text/javascript" src="app/directives/channel-layout-interface.directive.js"></script>
  <script type="text/javascript" src="app/directives/channel-layout-css.directive.js"></script>
  <script type="text/javascript" src="app/directives/user-list.directive.js"></script>
  <script type="text/javascript" src="app/directives/moderator-form.directive.js"></script>
  <script type="text/javascript" src="app/directives/moderations.directive.js"></script>
  <script type="text/javascript" src="app/directives/topic-form.directive.js"></script>
  <script type="text/javascript" src="app/directives/site-header.directive.js"></script>
  <script type="text/javascript" src="app/directives/subheader.directive.js"></script>
  <script type="text/javascript" src="app/directives/topic-list.directive.js"></script>
  <script type="text/javascript" src="app/directives/sidebar.directive.js"></script>
  <script type="text/javascript" src="app/directives/votes.directive.js"></script>
  <script type="text/javascript" src="app/directives/files.directive.js"></script>
  <script type="text/javascript" src="app/directives/filereader.directive.js"></script>
  <script type="text/javascript" src="app/directives/comments.directive.js"></script>
  <script type="text/javascript" src="app/services/file.service.js"></script>
  <script type="text/javascript" src="app/services/moderation.service.js"></script>

</body>

</html>
