<!DOCTYPE html>
<html ng-app="zerovoat" lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>

  <!-- CSS -->
    <!-- lib -->
    <link href="assets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <!-- app -->
    <link href="assets/css/style.css" rel="stylesheet" type="text/css"/>
  <!-- /CSS -->

  <!-- HTML5 Shim -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!--<base href="/">-->

</head>

<body class="ng-cloak" ng-controller="MainCtrl" ng-init="init()">

  <!-- header -->
  <site-header></site-header>
  <!-- /header -->

  <!-- main -->
  <main id="main-content" class="container" ng-if="page" ng-controller="ChannelsCtrl">
    <section>
      <!-- channel form -->
      <section ng-show="section === 'channel'">
        <channel-form></channel-form>      
      </section>
      <!-- /channel form -->
      <!-- topic form -->
      <section ng-init="getChannel()">
        <section ng-controller="TopicsCtrl" ng-show="section === 'topic'" ng-if="channel">
          <topic-form></topic-form>      
        </section>      
      </section>
      <!-- /topic form -->
    </section>
  </main>
  <!-- /main -->

  <!-- JS -->

  <!-- zeronet -->
  <script type="text/javascript" src="assets/lib/zeronet/class.js"></script>
  <script type="text/javascript" src="assets/lib/zeronet/zeroframe.js"></script>
  <script type="text/javascript" src="assets/lib/zeronet/zerochat.js"></script>

  <!-- jquery -->
  <script type="text/javascript" src="assets/lib/jquery/jquery.min.js"></script>

  <!-- angular -->
  <script type="text/javascript" src="assets/lib/angular/angular.min.js"></script>
  <script type="text/javascript" src="assets/lib/angular/angular-route.min.js"></script>
  <script type="text/javascript" src="assets/lib/angular/angular-animate.min.js"></script>
  <script type="text/javascript" src="assets/lib/angular/angular-aria.min.js"></script>
  <script type="text/javascript" src="assets/lib/angular-sanitize/angular-sanitize.min.js"></script>  
  <script type="text/javascript" src="assets/lib/angular-bootstrap/angular-bootstrap.min.js"></script>
  <script type="text/javascript" src="assets/lib/angular-multiselect/angular-bootstrap-multiselect.min.js"></script>  
  <script type="text/javascript" src="assets/lib/moment/moment.js"></script>
  <script type="text/javascript" src="assets/lib/angular-moment/angular-moment.min.js"></script>
  <script type="text/javascript" src="assets/lib/dropzone/dropzone.js"></script>

  <!-- videogular -->
  <script type="text/javascript" src="assets/lib/videos/videogular/videogular.js"></script>
  <script type="text/javascript" src="assets/lib/videos/videogular-controls/vg-controls.js"></script>
  <script type="text/javascript" src="assets/lib/videos/videogular-buffering/vg-buffering.js"></script>
  <script type="text/javascript" src="assets/lib/videos/videogular-overlay-play/vg-overlay-play.js"></script>
  <script type="text/javascript" src="assets/lib/videos/videogular-poster/vg-poster.js"></script>

  <!-- app -->
  <script type="text/javascript" src="app/application.js"></script>
  <script type="text/javascript" src="app/controllers/main.ctrl.js"></script>
  <script type="text/javascript" src="app/controllers/channels.ctrl.js"></script>
  <script type="text/javascript" src="app/directives/channel-form.directive.js"></script>
  <script type="text/javascript" src="app/controllers/topics.ctrl.js"></script>
  <script type="text/javascript" src="app/directives/dropzone.directive.js"></script>
  <script type="text/javascript" src="app/directives/topic-form.directive.js"></script>
  <script type="text/javascript" src="app/directives/channels.directive.js"></script>
  <script type="text/javascript" src="app/directives/site-header.directive.js"></script>
  <script type="text/javascript" src="app/directives/files.directive.js"></script>
  <script type="text/javascript" src="app/directives/video-player.directive.js"></script>

</body>

</html>
