<!DOCTYPE html>
<html ng-app="zerovoat" lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>

  <!-- CSS -->
    <!-- lib -->
    <link href="assets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <!-- app -->
    <link href="assets/css/style.css" rel="stylesheet" type="text/css"/>
  <!-- /CSS -->

  <!-- HTML5 Shim -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!--<base href="/">-->

</head>

<body class="ng-cloak" ng-controller="MainCtrl" ng-init="init()">

  <!-- header -->
  <site-header></site-header>
  <!-- /header -->

  <!-- main -->
  <main id="main-content" class="container" ng-if="page">
    <section id="topics" class="row" ng-controller="TopicsCtrl" ng-init="getTopic()">
      <span class="loader" ng-show="loading"></span>
      <!-- topic view -->
      <section ng-hide="loading" id="topic-view" class="main-content col-xs-9" ng-if="topic">
        <!-- topic -->
        <div class="topic-item">
          <div class="topic-item-left votes" votes ng-init="getTopicVotes(topic)">
            <a ng-click="onUpVoteTopic(topic)" class="vote-arrow arrow-up"></a>
            <span class="votes-sum-total">{{topic.votes_sum}}</span>
            <a ng-click="onDownVoteTopic(topic)" class="vote-arrow arrow-down"></a>
            <div class="votes-bar">
              <span class="up-vote-bar" style="height:{{topic.uvp}}%;"></span>
              <span class="down-vote-bar" style="height:{{topic.dvp}}%;"></span>
            </div>
          </div>
          <div files ng-init="getItemFile(topic)" class="topic-item-body col-xs-12">
            <div class="topic-header">
              <h3><a href="topic.html?topic_id={{topic.topic_id}}">{{topic.title}}</a></h3>
              <div class="topic-info">
                submitted <span am-time-ago="topic.added"></span> 
                by <span class="user-name blue" ng-bind="topic.user_id"></span> 
                to <a href="index.html?channel_id={{topic.channel.channel_id}}" ng-bind="topic.channel.name"></a>
                (<span class="votes-up">+{{topic.votes_up}}</span><b>|</b><span class="votes-down">-{{topic.votes_down}}</span>)
              </div>
            </div>
            <div class="topic-body" ng-if="topic.body">
              <article ng-bind="topic.body"></article>
            </div>
            <figure ng-if="topic.image" class="topic-image">
              <img ng-src="{{topic.image_path}}"/>
            </figure>
            <div ng-if="topic.video">
              <video-player ng-init="initVideoPlayer(topic.player)"></video-player>
            </div>
            <div class="topic-bottom"> 
              <b>{{topic.comments_total}} comments</b> 
            </div>              
          </div>
        </div>
        <!-- /topic -->
        <!-- topic comments -->
        <div class="topic-comments col-xs-12" comments ng-init="getTopicComments(topic)">
          <!-- comment form -->
          <div id="comment-form">
            <textarea ng-model="comment.body"></textarea>
            <button class="btn primary-btn" ng-click="postComment(comment)">submit comment</button>
          </div>
          <!-- /comment form -->
          <!-- comment list -->
          <div id="comment-list" ng-if="topic.comments.length > 0">
            <hr/>
            <!-- comments sort -->
            <div class="comments-sort-menu row" ng-init="initSortMenu()">
              <div class="sort-options col-xs-12">
                <span>sort by: </span>
                <a ng-if="option.name !== sort.current.name" ng-repeat="option in sort.options" ng-bind="option.name" ng-click="sortBy(option)"></a>
              </div>
              <div class="selected-option col-xs-12">
                <span class="sort-label">sort: {{sort.current.name}}</span>
              </div>
            </div>
            <!-- /comments sort -->
            <!-- comment item -->
            <div ng-include="'reply.html'" ng-repeat="comment in topic.comments | orderBy:sort.current.val" ng-init="getCommentReplys(comment)"></div>
            <!-- /comment item -->
            <!-- comment template -->
            <script type="text/ng-template" id="reply.html">
              <!-- reply item -->
              <div class="comment col-xs-12" moderations ng-init="getItemModerations(comment)" ng-show="comment.visible === 1">
                  <!-- comment left -->
                  <div class="comment-left votes" votes ng-init="getCommentVotes(comment)">
                    <a ng-click="onUpVoteComment(comment)" class="vote-arrow small arrow-up"></a>
                    <a ng-click="onDownVoteComment(comment)" class="vote-arrow small arrow-down"></a>
                  </div>
                  <!-- /comment left -->
                  <!-- comment content -->
                  <div class="comment-content">
                    <!-- comment top -->
                    <div class="comment-top col-xs-12">
                      <a ng-click="toggleCommentReplys()">[-]</a>
                      <span class="blue user-name" ng-bind="comment.user_id"></span>
                      <span>
                        <span><b>{{comment.votes_sum}}</b> points</span>
                        (<span class="votes-up">+{{comment.votes_up}}</span>|<span class="votes-down">-{{comment.votes_down}}</span>)
                        <span am-time-ago="comment.added"></span>
                      </span>
                      <span class="comment-moderations" ng-if="view === 'moderate'">
                        visibile:{{comment.moderation.visible}}
                        <a ng-click="toggleCommentVisibility(comment)">
                          <span ng-class="[{'glyphicon glyphicon-eye-close': comment.moderation.visible === 0},{'glyphicon glyphicon-eye-open': comment.moderation.visible === 1 || comment.visible === 1}]"></span>
                        </a>
                      </span>
                    </div>
                    <!-- /comment top -->
                    <!-- comment body -->
                    <div class="comment-body col-xs-12">
                      <p ng-bind="comment.body"></p>
                    </div>
                    <!-- /comment body -->
                    <!-- comment options -->
                    <div class="comment-options col-xs-12">
                      <a ng-click="toggleReplyForm(comment)">reply</a>
                    </div>
                    <!-- /comment options -->
                    <!-- reply form -->
                    <div class="comment-reply-form col-xs-12" ng-show="comment.show_reply">
                      <form>
                        <textarea ng-model="reply.body"></textarea>
                        <button class="btn primary-btn" ng-click="postReply(reply,comment)">reply</button>
                      </form>
                    </div>
                    <!-- /reply form -->
                    <!-- reply list -->
                    <div class="comment-reply-list col-xs-12" ng-if="comment.replys">
                      <!-- reply item -->
                      <div ng-include="'reply.html'" ng-repeat="comment in comment.replys | orderBy:'-added'"></div>
                      <!-- /reply item -->
                    </div>
                    <!-- /reply list -->
                  </div>
                  <!-- /comment content -->
              </div>
              <!-- /reply item -->
            </script>
            <!-- /comment template -->
          </div>
          <!-- /comment list -->
        </div>
        <!-- /topic comments -->
      </section>
      <!-- /topic view -->
      <!-- side bar -->
      <section ng-hide="loading" class="col-xs-3">
        <sidebar></sidebar>
      </section>
      <!-- /sidebar -->
    </section>
  </main>
  <!-- /main -->

  <!-- JS -->

  <!-- zeronet -->
  <script type="text/javascript" src="assets/lib/zeronet/class.js"></script>
  <script type="text/javascript" src="assets/lib/zeronet/zeroframe.js"></script>
  <script type="text/javascript" src="assets/lib/zeronet/zerochat.js"></script>

  <!-- jquery -->
  <script type="text/javascript" src="assets/lib/jquery/jquery.min.js"></script>

  <!-- angular -->
  <script type="text/javascript" src="assets/lib/angular/angular.min.js"></script>
  <script type="text/javascript" src="assets/lib/angular/angular-route.min.js"></script>
  <script type="text/javascript" src="assets/lib/angular/angular-animate.min.js"></script>
  <script type="text/javascript" src="assets/lib/angular/angular-aria.min.js"></script>
  <script type="text/javascript" src="assets/lib/angular-sanitize/angular-sanitize.min.js"></script>  
  <script type="text/javascript" src="assets/lib/angular-bootstrap/angular-bootstrap.min.js"></script>
  <script type="text/javascript" src="assets/lib/angular-multiselect/angular-bootstrap-multiselect.min.js"></script>  
  <script type="text/javascript" src="assets/lib/moment/moment.js"></script>
  <script type="text/javascript" src="assets/lib/angular-moment/angular-moment.min.js"></script>

  <!-- videogular -->
  <script type="text/javascript" src="assets/lib/videos/videogular/videogular.js"></script>
  <script type="text/javascript" src="assets/lib/videos/videogular-controls/vg-controls.js"></script>
  <script type="text/javascript" src="assets/lib/videos/videogular-buffering/vg-buffering.js"></script>
  <script type="text/javascript" src="assets/lib/videos/videogular-overlay-play/vg-overlay-play.js"></script>
  <script type="text/javascript" src="assets/lib/videos/videogular-poster/vg-poster.js"></script>

  <!-- app -->
  <script type="text/javascript" src="app/application.js"></script>
  <script type="text/javascript" src="app/controllers/main.ctrl.js"></script>
  <script type="text/javascript" src="app/directives/site-header.directive.js"></script>
  <script type="text/javascript" src="app/directives/sidebar.directive.js"></script>
  <script type="text/javascript" src="app/controllers/channels.ctrl.js"></script>
  <script type="text/javascript" src="app/controllers/topics.ctrl.js"></script>
  <script type="text/javascript" src="app/directives/votes.directive.js"></script>
  <script type="text/javascript" src="app/directives/comments.directive.js"></script>
  <script type="text/javascript" src="app/directives/moderations.directive.js"></script>
  <script type="text/javascript" src="app/directives/files.directive.js"></script>
  <script type="text/javascript" src="app/directives/video-player.directive.js"></script>

</body>

</html>
