/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/* MIXINS */
/* /MIXINS */
/* COLORS */
/* /COLORS */
/** GENERAL **/
a {
  cursor: pointer;
}
a:hover,
a:active {
  text-decoration: none !important;
}
h3 {
  font-size: 20px;
}
textarea {
  background: #fff;
  border: 1px solid #cbcbcb;
  border-radius: 2px;
  color: #333;
  font-family: inherit;
  font-size: 13px;
  line-height: 140%;
  padding: 8px;
  width: 100%;
}
.tooltip-inner {
  max-width: 350px !important;
  /* If max-width does not work, try using width instead */
  width: 120px;
}
.error {
  color: red;
}
videogular vg-scrub-bar .container,
[videogular] vg-scrub-bar .container {
  max-width: 100%;
}
.rss-feed {
  margin-right: 115px;
  margin-top: 2px;
  font-size: 12px;
  position: absolute;
  top: 0;
  right: 17px;
  background: #f8f8f8;
  border: 1px solid #d1d1d1;
  padding: 2px 4px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.rss-feed a {
  margin: 0 !important;
  color: #818181;
}
.rss-feed a i {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  margin-right: 3px;
}
.rss-feed a.active {
  color: #337ab7;
}
.rss-feed a.active i {
  color: #337ab7;
}
/** /GENERAL **/
/** COMMON **/
.btn {
  background: #bbe5ff;
  background: -webkit-linear-gradient(top, #bbe5ff, #a6ddff);
  background: -moz-linear-gradient(top, #bbe5ff, #a6ddff);
  background: -ms-linear-gradient(top, #bbe5ff, #a6ddff);
  background: -o-linear-gradient(top, #bbe5ff, #a6ddff);
  border: 1px solid #70b7e3;
  border-radius: 2px;
  color: #2b4758;
  display: inline-block;
  font-size: 10px;
  padding: 2px 6px;
  text-align: center;
  font-weight: bold;
}
.toggle-btn {
  background: url('../img/sprite-sheet.png');
  background-position: 0px -44px;
  height: 16px;
  width: 16px;
  display: inline-block;
  margin-right: 3px;
  cursor: pointer;
}
.toggle-btn:hover {
  background-position: -16px -44px;
}
.toggle-btn.collapse {
  background-position: 0 -60px;
}
.toggle-btn.collapse:hover {
  background-position: -16px -60px;
}
.loading {
  text-align: center;
  font-weight: bold;
}
.loader {
  display: block;
  width: 16px;
  height: 11px;
  background-image: url('../img/ajax-loader.gif');
  margin: 10px auto;
}
.well {
  margin-bottom: 0;
  background-color: #f4f4f4;
}
.fg-color-secondary {
  background-color: #f4f4f4;
}
.form {
  padding: 15px;
  background: white;
  border: 1px solid #dcdcdc;
  font-size: 12px;
}
.form .ng-invalid.ng-touched {
  border-color: rgba(255, 1, 1, 0.64);
}
.form .well {
  padding: 15px;
  margin-bottom: 15px;
}
.form .form-field {
  margin-bottom: 8px;
  line-height: 34px;
}
.form .form-field .input-label-container {
  float: left;
  margin-right: 15px;
}
.form .form-field .input-label-container label {
  float: left;
  margin-right: 10px;
}
.form .form-field .input-label-container input {
  float: left;
  width: auto;
}
.form .form-heading h3 {
  padding-bottom: 8px;
  border-bottom: 1px solid #ccc;
  margin: 15px;
}
.form .btn {
  font-size: 14px;
  font-weight: normal;
  border: solid #70b7e3;
  border-width: 1px 1px 2px;
  color: #2b4758;
}
.form .tag-list {
  margin-top: 8px;
}
.form .tag-list .tag-span {
  margin-right: 5px;
  padding-left: 20px;
  position: relative;
}
.form .tag-list .tag-span a {
  position: absolute;
  left: 4px;
  top: 3px;
}
.form hr {
  margin: 20px -15px;
  border: 0;
  border-top: 1px solid #cecece;
  border-bottom: 1px solid white;
}
.nav-tabs {
  margin-bottom: 15px;
}
.blue {
  color: #337ab7;
}
.container {
  max-width: 80%;
}
.section {
  background-color: white;
  border: 1px solid #d1d1d1;
  padding: 15px;
}
button.dz-clickable {
  text-align: left;
}
.dz-preview {
  display: none !important;
}
.item-edit-toolbar {
  border: 1px solid #ccc;
  float: right;
  padding: 0 5px;
  position: absolute;
  top: 0;
  right: 0;
}
.item-edit-toolbar .tooltip.top {
  width: 100px;
}
.user-name {
  cursor: pointer;
  color: #337ab7;
  font-weight: bold;
}
button[name="insertImage"],
button[name="insertVideo"],
button[name="html"] {
  display: none;
}
/** /COMMON **/
/** TEMPLATE **/
body,
.preview-body {
  font: 12px Arial, sans-serif;
  background-color: #f4f4f4;
  background-size: contain;
}
header {
  height: auto;
  position: relative;
  width: 100%;
  float: left;
  background-color: white;
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 15px;
}
header .container {
  margin-top: 2px;
  padding: 0;
}
header .meta-header {
  background-color: white;
  float: left;
  padding: 5px 10px 0 10px;
  padding-right: 130px;
  width: 100%;
  border-bottom: 1px solid #dcdcdc;
}
header .meta-header ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
header .meta-header ul li {
  float: left;
}
header .meta-header .meta-links {
  float: left;
  width: 50%;
}
header .meta-header .meta-links a {
  display: inline-block;
  margin-right: 10px;
  font-size: 12px;
  color: #818181 !important;
  line-height: 22px;
}
header .meta-header #user-menu-container {
  width: 50%;
  float: left;
}
header .meta-header .user-menu {
  width: auto;
  float: right;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
  line-height: 26px;
  padding: 0 0 0 6px;
  font-size: 12px;
  margin-bottom: 5px;
}
header .meta-header .user-menu .loader {
  margin-top: 2px;
  margin-right: 6px;
}
header .meta-header .user-menu ul {
  padding: 0;
}
header .meta-header .user-menu ul li {
  margin: 0;
  height: 20px;
  position: relative;
}
header .meta-header .user-menu ul li a {
  padding: 2px;
  border: 1px solid transparent;
  border-top: 0;
  border-bottom: 0;
  float: left;
  line-height: 20px;
}
header .meta-header .user-menu ul li i {
  font-size: 14px;
  float: left;
}
header .meta-header .user-menu ul li i.my-channels-icon {
  background-image: url(../img/my-channels-icon.png);
  width: 18px;
  height: 18px;
  display: block;
  left: 6px;
  top: 5px;
  background-size: cover;
}
header .meta-header .user-menu ul li i.fa-server {
  margin-top: 2px;
}
header .meta-header .user-menu ul li i.fa-commenting {
  margin-top: 1px;
}
header .meta-header .user-menu ul li.open > a {
  border-color: #ccc;
  height: 26px;
  display: block;
  padding-top: 0;
  background-color: #f9f9f9;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
header .meta-header .user-menu ul li:first-of-type {
  padding-right: 6px;
  border-right: 1px solid #ccc;
  margin-right: 3px;
}
header .meta-header .user-menu ul.user-notifications-menu {
  position: absolute;
  right: 45px;
  background: #f9f9f9;
  padding: 0;
  width: 250px;
  top: 46px;
  border: 1px solid #ccc;
}
header .meta-header .user-menu ul.user-notifications-menu li {
  height: auto;
  line-height: 16px;
  padding: 5px;
  margin: 0;
  border-bottom: 1px solid #ccc;
  display: block;
  background-color: #ffffff;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
header .meta-header .user-menu ul.user-notifications-menu li a {
  padding: 0;
}
header .meta-header .user-menu ul.user-notifications-menu li i {
  float: right;
  font-size: 10px;
}
header .meta-header .user-menu ul.user-notifications-menu li:last-of-type {
  border-bottom: 0;
}
header .meta-header .user-menu ul.user-notifications-menu li:hover,
header .meta-header .user-menu ul.user-notifications-menu li.read {
  background: #f9f9f9;
}
header .meta-header .user-menu ul.user-notifications-menu li + li {
  margin: 0;
}
header nav.navbar-default {
  background-color: white;
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 0;
  border: 0;
}
header nav.navbar-default .navbar-container-top {
  padding: 0 120px 0 25px;
}
header nav.navbar-default .navbar-container-top .header-left {
  height: 67px;
  padding-left: 55px;
}
header nav.navbar-default .navbar-container-top .header-left img {
  width: 100px;
  margin-left: -25px;
  position: absolute;
  left: 0;
  top: 4px;
}
header nav.navbar-default .navbar-container-top .header-left .logo-section {
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
header nav.navbar-default .navbar-container-top .header-left .logo-section .logo-section-top {
  padding: 15px 0 0 0;
  width: 100%;
  float: left;
}
header nav.navbar-default .navbar-container-top .header-left .logo-section .logo-section-top h2 {
  margin: 0;
  padding: 0;
  float: left;
}
header nav.navbar-default .navbar-container-top .header-left .logo-section .logo-section-top span.channel-name {
  display: block;
  float: left;
  padding-top: 9px;
  padding-left: 100px;
  font-size: 16px;
  font-weight: bold;
}
header nav.navbar-default .navbar-container-top .header-left .logo-section .logo-section-top span.channel-name span.rss-feed {
  position: relative;
  right: 0;
  margin-left: 5px;
  top: -2px;
  font-size: 10px;
}
header nav.navbar-default .navbar-container-top .sort-channels {
  padding-top: 17px;
  margin-left: -100px;
  margin-right: 100px;
}
header nav.navbar-default .navbar-container-top .sort-channels label {
  width: 25%;
  float: left;
  line-height: 33px;
}
header nav.navbar-default .navbar-container-top .sort-channels select {
  width: 75%;
}
header nav.navbar-default ul {
  list-style-type: none;
  padding: 20px 0;
  margin: 0;
  float: right;
}
header nav.navbar-default ul li {
  float: left;
  margin-right: 10px;
}
header nav.navbar-default ul li a .btn {
  font-size: 14px;
  font-weight: normal;
  border: solid #70b7e3;
  border-width: 1px 1px 2px;
  color: #2b4758;
}
.subheader {
  width: 100%;
}
main {
  padding: 0 !important;
}
main #banner {
  background-image: url('../img/banner-default.jpg');
  width: 100%;
  height: 100px;
  margin: 0 0 20px 0;
}
main .container {
  padding: 0;
}
main .main-content-container {
  padding-left: 0;
  padding-right: 8px;
}
main .main-content {
  background-color: white;
  border: 1px solid #d1d1d1;
  padding: 15px;
  margin: 0;
  margin-bottom: 10px;
}
main .main-content.channels-main-content {
  background-color: transparent;
  padding: 0;
  border: 0;
  margin: 0;
}
main .main-sidebar-container {
  padding-left: 0;
  padding-right: 2px;
  float: right;
  margin-bottom: 10px;
}
main aside {
  background-color: white;
  border: 1px solid #d1d1d1;
  padding: 15px;
}
main aside hr {
  float: left;
  width: 100%;
  margin: 20px 0 !important;
  border-bottom: 0;
}
main aside.main-sidebar .well {
  margin-bottom: 10px;
}
main aside.main-sidebar h2 {
  margin-top: 0;
}
main aside.main-sidebar ul {
  list-style-type: none;
  margin: 0;
}
main aside.main-sidebar ul li {
  width: 100%;
}
main aside.main-sidebar ul li a.btn {
  font-size: 12px;
  width: 100%;
  border-bottom-width: 2px;
  padding: 5px;
}
main aside.main-sidebar ul li a.btn span {
  width: 100%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
main aside.main-sidebar ul.main-section-sidebar-menu h3 {
  margin-top: 0;
}
main aside.main-sidebar ul.main-section-sidebar-menu hr {
  margin: 10px 0;
}
#channels .admin-channel-list {
  margin: 0;
}
#channels .admin-channel-list .col-xs-12 {
  padding: 0;
}
#channels .admin-channel-list small {
  vertical-align: super;
}
#channels .admin-channel-list .channel-item {
  float: left;
  width: 100%;
  padding-bottom: 8px;
}
#channels .admin-channel-list .channel-item .channel-item-top h3 {
  margin-top: 0;
  float: left;
}
#channels .admin-channel-list .channel-item .channel-item-top .admin-options {
  float: right;
  margin-top: 3px;
}
#channels .admin-channel-list .channel-item .channel-item-top .admin-options a {
  cursor: pointer;
}
#channels .admin-channel-list .channel-item .channel-item-description .well {
  margin: 0;
  padding: 8px;
  margin-bottom: 8px;
}
#channels .admin-channel-list .channel-item .channel-item-bottom {
  font-size: 12px;
}
#channels .admin-channel-list .channel-item + .channel-item {
  padding-top: 8px;
  border-top: 1px solid #ccc;
}
#channels .channel-list {
  margin: 17px 0 0 0;
  padding: 0;
}
#channels .channel-list small {
  vertical-align: super;
}
#channels .channel-list .channel-list-counter {
  width: 100%;
  float: left;
  padding: 0 5px;
  line-height: 100%;
  text-transform: uppercase;
  color: #B10DC9;
}
#channels .channel-list .channel-list-counter p {
  padding-top: 10px;
}
#channels .channel-list .channel-list-counter label {
  width: 20%;
  float: left;
  padding-top: 10px;
}
#channels .channel-list .channel-list-counter select {
  width: 80%;
  float: right;
}
#channels .channel-list .channel-item {
  float: left;
  padding: 5px;
}
@media (min-width: 1061px) {
  #channels .channel-list .channel-item {
    width: 100%;
  }
}
#channels .channel-list .channel-item .channel-item-wrap {
  border: 1px solid transparent;
  background-color: white;
  width: 100%;
  float: left;
  min-height: 150px;
  padding: 10px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#channels .channel-list .channel-item .channel-item-wrap > div {
  padding: 0;
}
#channels .channel-list .channel-item .channel-item-top h3 {
  width: 95%;
  margin-top: 0;
  float: left;
  font-size: 18px;
  background-color: #eee;
  padding: 0 0 0 5px;
  margin-bottom: 5px;
  height: 29px;
  line-height: 29px;
}
#channels .channel-list .channel-item .channel-item-top h3 a {
  color: black;
}
#channels .channel-list .channel-item .channel-item-top h3 a span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  float: left;
  width: 90%;
}
#channels .channel-list .channel-item .channel-item-top h3 a small {
  display: block;
  float: left;
  width: 10%;
  line-height: 22px;
}
#channels .channel-list .channel-item .channel-item-top a.btn-go {
  width: 5%;
  height: 27px;
  line-height: 27px;
  text-align: right;
  display: block;
  float: right;
  font-size: 163%;
  vertical-align: middle;
  color: #D3D9DE;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#channels .channel-list .channel-item .channel-item-top .admin-options {
  float: right;
  margin-top: 3px;
}
#channels .channel-list .channel-item .channel-item-top .admin-options a {
  cursor: pointer;
}
#channels .channel-list .channel-item .channel-item-description .well {
  margin: 0;
  padding: 8px;
  margin-bottom: 8px;
}
#channels .channel-list .channel-item .channel-item-bottom {
  font-size: 12px;
  position: absolute;
  bottom: 15px;
  width: 100%;
  padding-right: 80px !important;
}
#channels .channel-list .channel-item:hover .channel-item-wrap {
  border: 1px solid #B10DC9;
}
#channels .channel-list .channel-item:hover .channel-item-wrap a.btn-go {
  color: #666;
}
.channel-header .channel-item-top h3 {
  margin-top: 0;
}
.channel-header .channel-item-description .well {
  margin: 0;
  padding: 8px;
  margin-bottom: 8px;
}
.channel-header .channel-item-bottom {
  font-size: 12px;
}
.ui-tabs {
  margin-top: 10px;
}
.ui-tabs > ul.nav-tabs {
  margin-bottom: 0;
  border-bottom: 0;
}
.channel-interface-tabs {
  margin-top: 10px;
}
.layout-preview-container .preview-body {
  position: relative;
  border: 1px solid #ccc;
}
#topic-list {
  padding: 0 15px;
}
ul.topic-list-navigation {
  margin: 0;
  padding: 0 0 0 20px;
  list-style-type: none;
}
ul.topic-list-navigation li {
  margin-top: 15px;
  float: left;
  background: #bbe5ff;
  background: -webkit-linear-gradient(top, #bbe5ff, #a6ddff);
  background: -moz-linear-gradient(top, #bbe5ff, #a6ddff);
  background: -ms-linear-gradient(top, #bbe5ff, #a6ddff);
  background: -o-linear-gradient(top, #bbe5ff, #a6ddff);
  border: 1px solid #70b7e3;
  border-radius: 2px;
  display: inline;
  font-size: 10px;
  padding: 2px 6px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  font-weight: normal;
  border: solid #70b7e3;
  border-width: 1px 1px 2px;
  color: #2b4758;
}
ul.topic-list-navigation li + li {
  margin-left: 5px;
}
.topic-item {
  padding: 8px;
  padding-left: 40px;
  position: relative;
}
.topic-item .topic-item-left {
  position: absolute;
  left: 8px;
  top: 8px;
  width: 24px;
  padding: 0 8px 0 0;
}
.topic-item .topic-item-left .votes-bar {
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
}
.topic-item .topic-item-left .votes-bar span {
  display: block;
  width: 100%;
  float: left;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.topic-item .topic-item-left .votes-bar span.up-vote-bar {
  background-color: #4aabe7;
}
.topic-item .topic-item-left .votes-bar span.down-vote-bar {
  background-color: #8870ff;
}
.topic-item .topic-item-left.up-voted .vote-arrow.arrow-up {
  background-position: -16px -12px;
}
.topic-item .topic-item-left.up-voted .votes-sum-total {
  color: #06cc06;
}
.topic-item .topic-item-left.down-voted .vote-arrow.arrow-down {
  background-position: -16px -28px;
}
.topic-item .topic-item-left.down-voted .votes-sum-total {
  color: #f57e7e;
}
.topic-item .topic-item-main .topic-item-image {
  width: 10%;
  float: left;
  padding-right: 10px;
  height: 52px;
}
.topic-item .topic-item-main .topic-item-image.w-media figure {
  background-image: url(../img/file-loading-icon.jpg);
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center center;
}
.topic-item .topic-item-main .topic-item-image.w-media figure.loaded {
  background-image: none;
}
.topic-item .topic-item-main .topic-item-image.w-error figure {
  background-image: url(../img/404-not-found.png);
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center center;
}
.topic-item .topic-item-main .topic-item-image.ready figure {
  background-image: url(../img/video-play-icon.jpg);
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center center;
}
.topic-item .topic-item-main .topic-item-image figure {
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  background: transparent;
}
.topic-item .topic-item-main .topic-item-image figure img {
  width: auto;
  height: 100%;
}
.topic-item .topic-item-main .topic-item-body {
  float: left;
  width: 90%;
  padding-left: 0;
}
.topic-item .topic-item-main .topic-item-body .topic-item-header label.sticky-label {
  padding: 2px 4px;
  float: left;
  margin-right: 6px;
  margin-top: -1px;
  border-radius: 3px;
}
.topic-item .topic-item-main .topic-item-body h3 {
  margin: 0 0 5px 0;
  font-size: 16px;
}
.topic-item .topic-item-main .topic-item-body h3 a {
  color: #333;
}
.topic-item .topic-item-main .topic-item-body .topic-moderation-menu {
  position: absolute;
  right: 8px;
  top: 8px;
}
.topic-item .topic-item-main .topic-item-body .topic-moderation-menu a {
  cursor: pointer;
}
.topic-item .topic-item-main .topic-item-body .topic-header {
  height: 52px;
  margin-bottom: 5px;
}
.topic-item .topic-item-main .topic-item-body .topic-info {
  color: #707070;
  font-size: 12px;
  line-height: 16px;
}
.topic-item .topic-item-main .topic-item-body .topic-info.in-list {
  position: relative;
  padding-left: 20px;
}
.topic-item .topic-item-main .topic-item-body .topic-info .toggle-btn {
  position: absolute;
  left: 0;
  top: 0;
}
.topic-item .topic-item-main .topic-item-body .topic-info .votes-up {
  color: #4aabe7;
  font-weight: bold;
}
.topic-item .topic-item-main .topic-item-body .topic-info .votes-down {
  color: #8870ff;
  font-weight: bold;
}
.topic-item .topic-item-main .topic-item-body .topic-bottom {
  font-size: 11px;
  color: #6a6a6a;
}
.topic-item .topic-item-main .topic-item-body .topic-body article {
  border: solid #d1d1d1;
  border-width: 1px 1px 2px;
  border-radius: 3px;
  margin: 8px 0;
  padding: 5px 10px;
  word-wrap: break-word;
}
.topic-item .topic-item-main .topic-item-body .topic-body figure {
  width: 100%;
}
.topic-item .topic-item-main .topic-item-body .topic-body figure.w-media {
  background-image: url(../img/file-loading-icon.jpg);
  background-size: 52px;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 52px;
}
.topic-item .topic-item-main .topic-item-body .topic-body figure.loaded {
  background-image: none !important;
}
.topic-item .topic-item-main .topic-item-body .topic-body figure img {
  width: 100%;
}
.topic-item .topic-item-main.w-file .topic-item-body {
  width: 90%;
}
.topic-item:nth-child(even) {
  background: #f4f4f4;
}
.topic-item:nth-child(even) .topic-list-item-body .topic-body article {
  background-color: white;
}
#topic-view .topic-item {
  padding-right: 0;
}
#topic-view .topic-item .topic-header {
  height: 52px;
}
#topic-view .topic-item .topic-header h3 {
  margin: 0 0 5px 0;
  font-size: 16px;
  padding-right: 90px;
}
#topic-view .topic-item .topic-header h3 a {
  word-break: break-word;
}
#topic-view .topic-item .topic-header .topic-info {
  color: #707070;
  font-size: 12px;
  line-height: 16px;
}
#topic-view .topic-item .topic-header .topic-info .votes-up {
  color: #4aabe7;
  font-weight: bold;
}
#topic-view .topic-item .topic-header .topic-info .votes-down {
  color: #8870ff;
  font-weight: bold;
}
#topic-view .topic-item .topic-body article {
  background: #f8f8f8;
  border: solid #d1d1d1;
  border-width: 1px 1px 2px;
  border-radius: 3px;
  margin: 8px 0;
  padding: 5px 10px;
  word-wrap: break-word;
}
#topic-view .topic-item .topic-media-item-container {
  position: relative;
}
#topic-view .topic-item .topic-media-item-container .topic-video-container {
  background-image: url(../img/file-loading-icon.jpg);
}
#topic-view .topic-item .topic-media-item-container.w-media {
  position: relative;
}
#topic-view .topic-item .topic-media-item-container.w-media figure,
#topic-view .topic-item .topic-media-item-container.w-media .topic-video-container {
  background-image: url(../img/file-loading-icon.jpg);
  background-size: 395px;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 385px;
}
#topic-view .topic-item .topic-media-item-container.w-media figure.loaded,
#topic-view .topic-item .topic-media-item-container.w-media .topic-video-container.loaded {
  background-image: none;
  min-height: auto;
  height: auto;
}
#topic-view .topic-item .topic-media-item-container span.media-item-peers-count {
  display: none;
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: rgba(0, 0, 0, 0.5);
  padding: 2px 5px;
  border: 1px solid white;
  color: white;
}
#topic-view .topic-item .topic-media-item-container:hover span.media-item-peers-count {
  display: block;
}
#topic-view .topic-item .topic-image {
  width: 100%;
  height: auto;
  margin: 10px 0;
}
#topic-view .topic-item .topic-image img {
  width: 100%;
  height: auto;
}
#topic-view .topic-item .item-embed {
  position: relative;
}
#topic-view .topic-item .item-embed span.media-item-peers-count {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: rgba(0, 0, 0, 0.5);
  padding: 2px 5px;
  border: 1px solid white;
  color: white;
  z-index: 100;
}
.topic-comments {
  padding-top: 15px;
}
.topic-comments #comment-form {
  width: 100%;
  float: left;
  margin-bottom: 10px;
  padding-top: 5px;
  border-top: 1px solid #ccc;
}
.topic-comments #comment-form .form-btns {
  width: 100%;
  float: left;
  padding-top: 2px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}
.topic-comments #comment-form .form-btns .btn {
  margin-left: 5px;
}
#comment-list .comments-sort-menu {
  font-size: 11px;
  margin-bottom: 8px;
}
#comment-list .comments-sort-menu a {
  font-weight: bold;
  margin-right: 4px;
  cursor: pointer;
}
#comment-list .comments-sort-menu span.sort-label {
  margin-top: 8px;
  background: #ddd;
  border-radius: 2px;
  color: #555;
  display: inline-block;
  font-weight: bold;
  line-height: 1;
  padding: 5px;
  text-align: center;
}
#comment-list .comment-container-wrap {
  float: left;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-top: 10px;
}
#comment-list .comment-container-wrap:first-of-type {
  border-top: 0;
  padding-top: 0;
}
#comment-list .comment-container-wrap:last-of-type {
  border-bottom: 0;
  padding-bottom: 0;
}
#comment-list .comment {
  padding: 4px;
  margin-bottom: 4px;
}
#comment-list .comment .comment-left {
  position: absolute;
  left: 4px;
  top: 4px;
  z-index: 100;
}
#comment-list .comment .comment-left.up-voted .arrow-up {
  background-position: -44px -12px;
}
#comment-list .comment .comment-left.down-voted .arrow-down {
  background-position: -44px -24px;
}
#comment-list .comment .comment-top {
  color: #707070;
  font-size: 12px;
  line-height: 18px;
  font-size: 11px;
}
#comment-list .comment .comment-top .votes-up {
  color: #4aabe7;
  font-weight: bold;
}
#comment-list .comment .comment-top .votes-down {
  color: #8870ff;
  font-weight: bold;
}
#comment-list .comment .comment-body {
  font-size: 12px;
  margin: 5px 0;
}
#comment-list .comment .comment-body p {
  margin: 0;
}
#comment-list .comment .comment-media-item {
  padding-bottom: 5px;
  position: relative;
}
#comment-list .comment .comment-media-item > img,
#comment-list .comment .comment-media-item > div {
  width: 100%;
}
#comment-list .comment .comment-media-item .comment-file-peer-count {
  display: none;
  position: absolute;
  bottom: 10px;
  right: 5px;
  background: rgba(0, 0, 0, 0.5);
  padding: 2px 5px;
  border: 1px solid white;
  color: white;
}
#comment-list .comment .comment-media-item:hover .comment-file-peer-count {
  display: block;
}
#comment-list .comment .comment-media-item.w-media {
  background-image: url(../img/file-loading-icon.jpg);
  background-size: 52px;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 52px;
}
#comment-list .comment .comment-options {
  font-size: 11px;
}
#comment-list .comment .comment-options a {
  color: #6a6a6a;
  font-weight: bold;
  cursor: pointer;
}
#comment-list .comment .comment-reply-form {
  margin-top: 8px;
}
#comment-list .comment .comment-reply-list {
  margin: 8px 0;
}
#comment-list .comment .comment,
#comment-list .comment .comment .comment .comment,
#comment-list .comment .comment .comment .comment .comment .comment,
#comment-list .comment .comment .comment .comment .comment .comment .comment .comment {
  background-color: #f8f8f8;
  border: 1px solid #d1d1d1;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#comment-list .comment .comment .comment,
#comment-list .comment .comment .comment .comment .comment,
#comment-list .comment .comment .comment .comment .comment .comment .comment,
#comment-list .comment .comment .comment .comment .comment .comment .comment .comment .comment {
  background-color: white;
  border: 1px solid #d1d1d1;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#comment-list .comment.highlighted {
  border: 2px solid #337abc;
  border-radius: 4px;
  background: aliceblue;
}
.votes .vote-arrow {
  background: url('../img/sprite-sheet.png');
  cursor: pointer;
  height: 16px;
  width: 16px;
  outline-style: none;
  display: block;
}
.votes .vote-arrow.arrow-up {
  background-position: 0 -12px;
}
.votes .vote-arrow.arrow-down {
  background-position: 0 -28px;
}
.votes .vote-arrow.small {
  width: 12px;
  height: 12px;
}
.votes .vote-arrow.small.arrow-up {
  background-position: -32px -12px;
  margin-bottom: 2px;
}
.votes .vote-arrow.small.arrow-down {
  background-position: -32px -24px;
  margin-top: 2px;
}
.votes .votes-sum-total {
  display: block;
  margin: auto;
  width: 16px;
  text-align: center;
  color: #bbb;
}
.user-admin .main-content {
  margin-left: -15px;
}
.user-admin .section-header h2 {
  margin: 0;
  font-size: 24px;
}
.user-admin aside ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.user-admin aside ul li {
  width: 100%;
  margin-bottom: 2px;
}
.user-admin aside ul li a {
  width: 100%;
  display: block;
  text-align: left;
  font-size: 12px;
}
.colorpicker-btn {
  width: 32px;
  height: 32px;
  float: left;
  border: 2px solid #ccc;
  cursor: pointer;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.colorpicker-text.form-control {
  display: block;
  float: left;
  margin-left: 5px;
  text-transform: uppercase;
  font-weight: bold;
  width: 95px;
  height: 31px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
/** /TEMPLATE **/
/** FILE BROWSER **/
#file-browser ul {
  padding: 0;
  list-style-type: none;
}
#file-browser .top-file-browser-menu,
#file-browser .clusters-file-browser-menu {
  width: auto;
  float: left;
  margin-bottom: 20px;
  margin-right: 20px;
}
#file-browser .top-file-browser-menu li,
#file-browser .clusters-file-browser-menu li {
  float: left;
  width: auto;
  margin-right: 5px;
}
#file-browser .top-file-browser-menu li a,
#file-browser .clusters-file-browser-menu li a {
  background-color: white;
  color: #337ab7;
  display: block;
  padding: 10px 15px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#file-browser .top-file-browser-menu li.selected a,
#file-browser .clusters-file-browser-menu li.selected a {
  background-color: #337ab7;
  color: white;
}
#file-browser .browser-main {
  width: 100%;
  float: left;
}
#file-browser .browser-main .file-list {
  padding: 0;
}
#file-browser .browser-main .file-list .file-item {
  position: relative;
  height: 220px;
  padding-bottom: 40px;
  margin-bottom: 20px;
}
#file-browser .browser-main .file-list .file-item .inner-wrap {
  background-color: white;
  width: 100%;
  height: 160px;
  padding: 5px;
}
#file-browser .browser-main .file-list .file-item img {
  width: 100%;
  height: auto;
  max-height: 95%;
}
#file-browser .browser-main .file-list .file-item > ul {
  position: absolute;
  top: 170px;
  left: 0;
  padding: 0 15px;
  width: 100%;
}
#file-browser .browser-main .file-list .file-item > ul li {
  float: left;
  width: 100%;
  overflow: hidden;
  height: 16px;
  word-break: break-all;
}
#file-browser .browser-main .left-file-browser-menu {
  padding: 0 15px 0 0;
}
#file-browser .browser-main .left-file-browser-menu li {
  float: left;
  width: 100%;
  margin-bottom: 5px;
}
#file-browser .browser-main .left-file-browser-menu li a {
  background-color: white;
  display: block;
  padding: 5px 15px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#file-browser .browser-main .left-file-browser-menu li.selected a {
  background-color: #337ab7;
  color: white;
}
/** /FILE BROWSER **/
/** VIDEOGULAR **/
videogular.loading {
  display: none;
}
videogular.error {
  background-image: url('../img/404-not-found.png');
  background-size: cover;
}
videogular.error > * {
  display: none;
}
/** /VIDEOGULAR **/
/** MEDIA QUERIES **/
@media (max-width: 840px) {
  header .meta-header {
    padding-right: 80px;
  }
  header nav.navbar-default .navbar-container-top {
    padding-right: 70px;
  }
}
/** /MEDIA QUERIES **/
